:root{
    --navborder: rgb(245, 163, 12);
    --indibg: rgb(234, 208, 161);
    --personalbg: rgb(255, 183, 0);

}

ul{
    list-style-type: none;
    display: flex;
    background-color: var(--navborder);
}

li{
    padding: 5px 27px;
    background-color: indianred;
    margin: 5px 3px;
    color: var(--personalbg);
}

